<h1><%= @patient.name %></h1>
<h2>Appointments</h2>
<table>
<th>Date</th>
<th>Doctor</th>
<% @patient.appointments.each do |appointment| %>
<tr>
<td><%= appointment.appointment_datetime.strftime("%B %e, %Y at %H:%M %P") %></td>
<td><%= link_to appointment.doctor.name, doctor_path(appointment.doctor) %>
</tr>
<% end %>
</table>